<% include ../partials/header %>

<div class="container-fluid">
  <div class="row raktazodis">
    <div clas="col-lg-12">
      <h2>Demolos pagrindinės erdvės raktažodis: <strong>Už</strong></h2>

      <h4>Šį raktažodį įveskite į demo iššūkyje esantį atitinkamo objekto raktažodžio laukelį.</h4>
    </div>
  </div>

<% include ../partials/footer %>