
      <div class="row footerRow">
          <div class="col-lg-4">
            <img src="/images/logo.png" alt=""><br>
          </div>
          <div class="col-lg-4 f2">
              <ul>
                <li><a href="/">Pradžia</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/atsiliepimas/create">Palikti atsiliepimą</a></li>
              </ul>            
          </div>
          <div class="col-lg-4 f3">
            <h3>Susisiekite su mumis</h3>
            <a href="https://www.facebook.com/tentatrip/"><i class="fa fa-facebook-official " aria-hidden="true"></i>Facebook</a>
            
            <a href="https://www.instagram.com/tentatrip/"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a>
            <a href="mailto:tripleart@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>Email</a>
          </div>        
      </div>
      <h5 id="copyright">2018 © Visos teisės saugomos TRIPLEART komandos</h5>
    </div>
  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</html>