<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/allcampaigns.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <title>Žemėlapis</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row center-block campaignForma">
      <form>
        <div class="col-md-12 col-lg-12 col-sm12">
          <h2>Naujo Campaign kūrimas</h2>
          <!--<div class="form-group center-block">
            <input class="fullSize" type="text" value="" placeholder="Paieška">
          </div>-->
        </div>
        <div class="col-md-6 col-lg-6 col-sm12">
          <div class="form-group center-block lattitudeInpt">
            <input id="lattitude" type="text" name="lattitude" placeholder="Lattitude" required>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm12">
          <div class="form-group center-block longitudeInpt">
            <input id="longitude" type="text" name="longitude" placeholder="Longitude" required>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm12">
          <div class="form-group center-block">
            <input id="pavadinimas" class="fullSize" type="text" value="" placeholder="Campaign pavadinimas" required>
          </div>
        </div>
        <button onClick="addObject()" type="button" class="btn btn-lg btn-primary">Pridėti</button>
        <div class="col-md-12 col-lg-12 col-sm12">
          <table id="objektai" class="table table-hover">
          <tr>
            <th>Nr.</th>
            <th>Objekto pavadinimas</th>
            <th>Lattitude</th>
            <th>Longitude</th>
            <th>Veiksmai</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Verkių nacionalinis parkas</td>
            <td>25.145454</td>
            <td>48.155314</td>
            <td>Red. Trin.</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Verkių nacionalinis parkas</td>
            <td>25.145454</td>
            <td>48.155314</td>
            <td>Red. Trin.</td>
          </tr>  
          <tr>
            <td>1</td>
            <td>Verkių nacionalinis parkas</td>
            <td>25.145454</td>
            <td>48.155314</td>
            <td>Red. Trin.</td>
          </tr>         
          </table>
          <button type="button" class="btn btn-lg btn-success toRight">Kitas žingsnis</button>
        </div>
      </form>
    </div>
  </div>
  <script>
    function addObject() {
      var lat = document.getElementById("lattitude");
      var long = document.getElementById("longitude");
      var pav = document.getElementById("pavadinimas");

      var obj = {
        pavadinimas: pav,
        lattitude: lat,
        longitude: long
      }
      
      var tr = document.createElement("TR");

      for (var property in obj) {
        if (obj.hasOwnProperty(property)) {
          var td = document.createElement("TD");
          var text = document.createTextNode(obj[property].value);
          td.appendChild(text);
          tr.appendChild(td);
        }
      }

      var d = document.getElementById("objektai");

      console.log(d);
      
    }

  </script>
</body>

</html>