<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/map.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <title>Žemėlapis</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <% if(!user) { %>
          <h2 class="text-center">TripleART komandos Demo</h2>
          <a href="/auth/facebook" class="btn btn-primary btn-block"><span class="fa fa-facebook"></span> <strong>Tęsti su Facebook</strong></a>
        <% } %>        
        <div>
          <% if(user) { %>
            <h3 class="text-center">Sveiki, <%= user.facebook.name %></h3>
            <h3 class="text-center">Turimi taškai: <%= user.facebook.points %></h3>
            <a href="/profile"><h4>Profilis</h4></a>
            <a href="/logout"><h4>Atsijungti</h4></a>
            <h3 id="statusMessage"></h3>
          <% } %>
        </div>
      </div>
      <div id="status">
      </div>
      <div class="col-lg-8 col-sm-6 map">
        <div id="map"></div>
      </div>
    </div>
  </div>

  <!-- Replace the value of the key parameter with your own API key. -->
  <script src="js/map.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQJ2TeX4CKtS00G-PbUMSuKjZ8fc-fyQQ&callback=initMap">
  </script>
</body>

</html>