<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/map.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Žemėlapis</title>
</head>

<body>

<script>

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    } 

    function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      // Full docs on the response object can be found in the documentation
      // for FB.getLoginStatus().
      if (response.status === 'connected') {
        // Logged into your app and Facebook.
        testAPI();
      } else {
        // The person is not logged into your app or we are unable to tell.
        document.getElementById('status').innerHTML = 'Please log ' +
          'into this app.';
      }
    }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2020015468236050',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.11'
    });
      
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <img class="center-block img-responsive person" src="images/person.png" alt="person">
        <br>
        <hr>
        <ul>
          <li>
            <img src="images/oras.png" alt="Oro taškai">
            <p>12</p>
          </li>
          <li>
            <img src="images/žemė.png" alt="Žemės taškai">
            <p>3</p>
          </li>
          <li>
            <img src="images/vanduo.png" alt="Vandens taškai">
            <p>4</p>
          </li>
          <li>
            <img src="images/ugnis.png" alt="Ugnies taškai">
            <p>5</p>
          </li>
        </ul>
        <fb:login-button 
          scope="public_profile,email"
          onlogin="checkLoginState();">
        </fb:login-button>
        <h3 id="statusMessage"></h3>
      </div>
      <div id="status">
      </div>
      <div class="col-lg-8 col-sm-6 map">
        <div id="map"></div>
      </div>
    </div>
  </div>

  <!-- Replace the value of the key parameter with your own API key. -->
  <script src="js/map.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQJ2TeX4CKtS00G-PbUMSuKjZ8fc-fyQQ&callback=initMap">
  </script>
</body>

</html>