<% include partials/header %>
<div class="container-fluid">
	
	<div class="page-header text-center">
		<h1 style="color: white">Jūsų profilis</h1>
	</div>

	<div class="row">
		<div style="display: block; margin: 0 auto" class="col-sm-12">
			<div class="well">
				<h3>Jūsų priimti iššūkiai</h3>
				<% for (var i = 0; i < user.campaigns.length; i++) {%>
					<a href="/campaign/<%=user.campaigns[i].id%>"><h3><%= user.campaigns[i]._id%></h3></a><br>
				<%}%>
			</div>
		</div>

	</div>

</div>
<% include partials/footer %>