.navbar {
  border: none !important;
  border-radius: 0 !important;
  font-size: 24px !important;
  background: #236eba !important;
  margin: 0 !important;
  height: 130px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.noPadding {
  padding: 0 !important;
}

.navbar a {
  color: rgb(44, 44, 44) !important;
}

.navbar li {
  margin-top: 12%;
  color: white;
}

.navbar-right li a {
  color: white !important;
}

.dropdown-menu li a {
  color: black !important;
}

.dropdown-toggle::after {
  display: none;
}

.navbar img {
  margin-left: 25px;
  height: 100px;
}

html,
body,
.container-fluid {
  height: 100% !important;
  width: 100%;
  background: #236eba;
}

#copyright {
  background: #236eba;
  color: white;
  text-align: center;
}

/* HELLO DIV  */

.helloDiv {
  padding: 0;
  height: auto;
  background: #236eba;
  color: white;
}

.helloDiv h1 {
  margin-left: 25px;
  font-size: 50px;
  word-spacing: 15px;
  line-height: 70px;
}

.helloDiv a {
  margin-left: 25px;
  border: 0;
  border-radius: 0;
  margin-top: 20px;
  background: #ffc121;
  color: white;
}

.helloDiv button:hover {
  background: #e0a819;
  color: white;
}

.helloDiv img {
  float: right;
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 50px;
}

/* END OF HELLO DIV */

/* VALUES ROW */

.valuesRow {
  background: white;
}

.valueDiv {
  display: block;
  text-align: center;
  margin-bottom: 50px;
  height: 138px;
  padding: 0;
}

.valuesRow img {
  width: 125px;
}

.valuesRow h1 {
  text-align: center;
  margin-bottom: 45px;
  margin-top: 45px;
}

.valuesRow p {
  width: 400px;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
}

/* END OF VALUES ROW */

/* DEMO ROW */

.demoRow {
  height: auto;
  background: #236eba;
  text-align: center;
  margin-bottom: 45px;
}

.demoRow h1 {
  color: white;
  margin-top: 45px;
  margin-bottom: 45px;
}

.demoRow .well {
  width: 300px;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 0;
  text-align: left;
}

.demoRow .btn {
  border-radius: 0 !important;
  width: 100% !important;
}

.demoRow img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* END OF DEMO ROW */

/* ROADMAP ROW */

.roadMapDiv {
  height: auto;
  background: white;
  text-align: center;
}

.roadMapDiv h1 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.roadMapDiv img {
  display: block;
  margin: 0 auto;
  margin-bottom: 45px;
}

/* END OF ROADMAP ROW */

/* TEAMINFO ROW */

.teamInfo img {
  width: 200px;
  border-radius: 50%;
}

.teamInfo {
  text-align: center;
  color: white;
  background: #ffc121;
}

.teamInfo h1 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.teamInfo p {
  width: 250px;
  display: block;
  margin: 0 auto;
}

.teamInfo .person {
  text-align: center;
  display: inline-block;
  text-align: center;
  margin-left: 25px;
  min-height: 366px !important;
  vertical-align: bottom;
}

/* END OF TEAMINFO ROW */

/* FOOTER ROW */

/* .footerRow {
  height: auto;
  background: #236eba;
  color: white;
} */

.footerRow img {
  width: 150px;
  height: auto;
}

/* .footerRow p {
  max-width: 150px;
  margin: 0;
  text-align: center;
  vertical-align: bottom;
} */

.footerRow {
  width: 100%;
  text-align: center;
  margin-top: 45px;
  color: white;
}

.footerRow div {
  display: inline-block;
}

.footerRow ul {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  color: white;
  text-align: left;
}

.footerRow ul li {
  line-height: 25px;
}

.footerRow h3 {
  margin: 0;
  margin-bottom: 10px;
}

.footerRow a {
  color: white;
  display: block;
}

.f2 {
  text-align: left;
}

.f3 {
  text-align: left;
  line-height: 25px;
}

.footerRow i {
  font-size: 25px;
  margin-right: 10px;
}

/* END OF FOOTER ROW */

/* SHOW ROW */

.showing {
  padding: 0 !important;
}

#map {
  z-index: 10;
  height: 500px;
  padding: 0;
  margin-left: 20px;
}

.client {
  width: 100%;
}

.mapRow {
  width: 100%;
}

#campaignId {
  color: white;
}

.nuotraukos img {
  height: 100px;
  display: inline-block;
}

.nuotraukos h2,
.nuotraukos h1 {
  color: white;
}

.nuotraukos h1 {
  margin: 0;
}

.nuotraukos button {
  display: block;
  border-radius: 0;
  width: 50%;
  margin-top: 15px;
}

.well {
  border-radius: 0 !important;
  margin: 0 !important;
  margin-left: 20px !important;
}

.well h4 {
  display: inline-block;
  margin-right: 20px;
}

.well a {
  border-radius: 0;
  text-align: left;
}

.playingWell {
  display: block;
  margin: 0 auto !important;
  margin-left: 20px !important;
}

.progress {
  border-radius: 0 !important;
  margin-left: 20px !important;
  padding: 0 !important;
}

.checked {
  background: rgb(32, 145, 32) !important;
  color: white;
  border: 0 !important;
}

#finished {
  visibility: hidden;
  border-radius: 0;
  margin-left: 20px;
  margin-bottom: 25px;
}

.modal-header {
  padding: 0 !important;
  background-color: #337ab7;
  color: white;
}

.modal-header h2 {
  margin-left: 10px;
}

.modal-header .close {
  margin-top: 0 !important;
}

#myModal {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.modal-body {
  padding: 2px 16px;
}

.modal-body img {
  display: block;
  margin: 0 auto;
  height: 150px;
}

.close {
  color: white;
  background: white;
  float: right;
  font-size: 40px !important;
  font-weight: bold;
  padding: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* END OF SHOW ROW */

@media only screen and (max-width: 600px) {
  .navbar img {
    margin-left: 25px;
    height: 70px;
  }

  .helloDiv h1 {
    margin-left: 15px;
    font-size: 35px;
    word-spacing: 5px;
    line-height: 50px;
  }

  .helloDiv a {
    display: block;
    margin: 0 auto;
    border: 0;
    border-radius: 0;
    margin-top: 20px;
    width: 300px;
    background: #ffc121;
    color: white;
    margin-bottom: 45px;
  }

  .helloDiv img {
    display: none;
  }

  .valuesRow p {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
  }

  .nuotraukos {
    margin-left: 20px;
  }

  .nuotraukos button {
    display: block;
    margin: 0 auto;
    border-radius: 0;
    width: 100%;
    margin-top: 15px;
  }

  #myModal {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }
}
