html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.row {
  background-color: rgb(240, 220, 132);
  margin: 0 !important;
  padding: 0 !important;
}

.container-fluid,
.row,
.map {
  height: 100%;
}

div {
  margin: 0;
  padding: 0 !important;
}

#map {
  height: 100%;
  width: 100%;
}

#bodyContent {
  width: 100%;
}

.person {
  width: 150px;
  height: 150px;
}

#statusMessage {
  display: block;
  position: absolute;
  margin-top: 150px;
  margin-left: 25px;
}

.btn-block {
  width: 250px !important;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin-top: 150px !important;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  background: white;
  float: right;
  font-size: 40px !important;
  font-weight: bold;
  padding: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #337ab7;
  color: white;
}

.modal-header h2 {
  margin-left: 10px;
}

.modal-header .close {
  margin-top: 0 !important;
}

.modal-body {
  padding: 2px 16px;
}

#userSection a {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.centered {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.form-group {
  width: 400px !important;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
